Lambda functions are similar to user defined function but without a name .
They are commonly reffered to as anonymous function.

Syntax :
lambda arguments(s):expression

lambda is a key word in python for defining the anonymous function.
arguments() is a placeholder, that is a variable thet will be used to hold the value you want to pass into the function expression . A lambda function can have multiple variables depending on what you want to achive.
expression is the code you want to execute in the lambda function

In [ ]:
# hello
OLLEH

NameError: name 'OLLEH' is not defined

In [ ]:
#user defined function
def functionnames (n1 , n2):

  expression

In [ ]:
def exp(x):

  return x ** 2

exp(5)

25

In [ ]:
x = lambda x : x**2

print(x(4))

16

In [ ]:
print((lambda x : x** 2)(4))

16

In [ ]:
x = lambda x : x.upper()[::-1]

print(x('hellow'))

WOLLEH

In [ ]:
x = lambda x , y : x-y if x>y else y-x

print(x(2,4))

2

n1 , n2

n1 - n2

n2 - n1

In [ ]:
x = lambda x : 'even' if x%2 == 0 else 'odd'

print(x(1))

odd

Filter():

The filter function operator on a list and returns a subset of thet list after applying the filter rule. The function filter (f,,l)needs a function f as it arguments.f returns a boolean value ie either true or false . this function will be applied to every element of the list l. only if f returns true will element of the list l . only if f returns true will the element of the list l .only if f returns true will the element of the list be included in the result list.

In [ ]:
list1 = [2,4,5,6,7,8,12,13,15,22]

In [ ]:
x = filter (lambda x : x%2 == 0 , list1)

In [ ]:
print((x))

<filter object at 0x7c24d9ef66e0>

In [ ]:
print(list(x))

[2, 4, 6, 8, 12, 22]

In [ ]:
print(list(filter(lambda x : x%2 == 0 , list1)))

[2, 4, 6, 8, 12, 22]

In [ ]:
list1 = ['raju','ramu','dolu','rema','bolu','arun']

print(list(filter(lambda x : x[0]=='r',list1)))

['raju', 'ramu', 'rema']

**map()**

The map() transforms a given list in to a new list by transforming each element uing a rule , it is used to apply a function to each element of a list or any other iterable

this is very useful when we do vector mathematics,he map()function will take multiple list operators on then and return the output list,one thing to note is that all the list should be of the same size because map() applies the function to corresponding element in those lists



map()

You use the map()function whenever you want to modify every value in iterable

In [ ]:
#list = [2,3,4,1]
#syntax of map()
#print (list(map(f,list1)))

In [ ]:
list1 = [2,3,4,1]
print(list(map(lambda x : x**2 , list1)))

[4, 9, 16, 1]

In [ ]:
x = 10
x = 'arifa'

In [ ]:
list1 = ['raju','ramu','dolu','bolu','reme']

#list2 = [True,True,False,False,True]

list2 = list(map(lambda name : name.startswith('r'),list1))
print(list2)

[True, True, False, False, True]

**Zip Function**

The zip() function take iterables (can be zero or more) makes the iterator that aggregates elements based on the iterables passed , and returns an iterator or tuples

syntax :

zip (*iterables)

In [ ]:
#[2,3,4],[3,2,3] = ((2,3),(3,2),(4,3))

In [ ]:
#[2,3,4],[3,2,3],[2,1,4,5] = ((2,3,2),(3,4,1),(4,3,4))

In [ ]:
#[2,3,4],['raju', 'bolu','dolu'] = ((2,'raju'),(3,'bolu')(4, 'dolu'))

In [ ]:
rn =  [1,2,3]

name = ['raju','bolu','dolu']

data = list (zip(rn,name))

print(data)

[(1, 'raju'), (2, 'bolu'), (3, 'dolu')]

In [ ]:
rn =  [1,2,3]

name = ['raju','bolu','dolu']

data = dict (zip(rn,name))

print(data)

{1: 'raju', 2: 'bolu', 3: 'dolu'}

In [ ]:
rn =  [1,2,3]

name = ['raju','bolu','dolu']

data = list(zip(rn,name))

print(data)

[(1, 'raju'), (2, 'bolu'), (3, 'dolu')]